/* src/components/ControllerPassword.css */

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table thead th {
    vertical-align: middle;
    text-align: center;
}

.table tbody td {
    vertical-align: middle;
    text-align: center;
}